<nav class="navbar">
  <div class="container navbar-inner">
    <a href="index.html" class="nav-logo">Jan<span> Jakubec</span></a>
    <button class="nav-toggle" aria-label="Otevřít menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav-links">
      <li><a href="index.html">Domů</a></li>
      <li><a href="o-nas.html">O mně</a></li>
      <li class="nav-dropdown">
        <a href="sluzby.html">Služby</a>
        <ul class="dropdown-menu">
          <li><a href="sluzba-detail.html?id=elektroinstalace">Elektroinstalace</a></li>
          <li><a href="sluzba-detail.html?id=vodoinstalace">Vodoinstalace</a></li>
          <li><a href="sluzba-detail.html?id=pokryvacske-prace">Pokrývačské a klempířské práce</a></li>
          <li><a href="sluzba-detail.html?id=sadrokarton">Sádrokartonářské práce</a></li>
          <li><a href="sluzba-detail.html?id=montaz-kuchyni">Montáž kuchyní</a></li>
          <li><a href="sluzba-detail.html?id=obklady-dlazby">Obklady a dlažby</a></li>
        </ul>
      </li>
      <li><a href="kontakt.html">Kontakt</a></li>
      <li class="nav-phone-li"><a href="tel:+420774668789"><i class="fa-solid fa-phone"></i> 774 668 789</a></li>
      <li class="nav-cta-li"><a href="kontakt.html" class="btn-nav-cta">Nezávazná poptávka</a></li>
    </ul>
  </div>
</nav>
